 *{
            margin: 0px;
            padding: 0px;
        }
        body{
            font-family: 'Courier New', Courier, monospace;
           
            
        }
        .container{
        display: flex;
        justify-content: center;
        background-image: url(pic.jpg);;
        
        

        }
        .box{

           text-align: center;
           margin:10%;
           padding: 10%;
           border-radius: 10px;
           background-color: transparent;
           box-shadow: 6px 2px 20px 8px rgb(255, 255, 255);
        
        }
        .input1{
            padding: 10px;
            border-radius: 10px;
            border: none;
        }
        .input2{
            padding: 10px;
            border-radius: 10px;
            border: none;
        }
        .btn{
            padding: 10px;
            width:100%;
            border-radius: 10px;
            border: none;
            background-color: rgb(106, 234, 234);
            font-family: 'Courier New', Courier, monospace;
            font-size: larger;
            font-weight: bolder;
             box-shadow: 6px 2px 8px 0px rgb(106, 234, 234);

        }
        .btn:hover{
            background-color: red;
            transition: 0.3s;
            box-shadow: 6px 2px 8px 0px red;
        }
        .btn:active{
            background-color: yellow;
            transition: 0.3s;
            box-shadow: 6px 2px 8px 0px yellow;
        }
        a{
            text-decoration: none;
            font-weight: bolder;
        }
        h1{
            color:whitesmoke;
        }
        a:hover{
            cursor: pointer;       
           color: antiquewhite;
        }